#modalContent{
    max-width: inherit;
    width:1000px;
    height:500px;
    overflow-y: scroll;
}

.booklist{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bookimg{
    width:120px;
    height: 160px;
    border:none;
    position: relative;
    right:55px;
}

.bookbutton{
    width:0;
    height:0;
    border:none;
    padding:none;
    margin:none;
}

.forgrade{
    border-bottom: 5px;
    border-color:cadetblue;
}

#fixedbookclose{
    position:sticky;
    top:0%;
}

#closemark img{
    width: 40px;
    height: 40px;
    position: relative;
    right: 48%;
    z-index: 1;
}

#bookclose{
    border:none;
    border-radius:10px;
    padding:5px;
    width:150px;
    background-color:darkslateblue;
    color:azure;
}
