#event_page {
    /* display: block; */
}
.container {
    width: 260px;
    margin: 10px auto;
}
.post_content {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    height: 140px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}
#content {
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
    resize: none;           /* サイズ変更不可 */
}
.post_footer {
    text-align: right;
}
.post_footer p {
    margin: 5px;
}
#other .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}
#other .post_footer p {
    display: inline-block;
}