.sugoroku-cell {
  border: 1px solid #ccc;
  background-color: white;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2px;
  font-size: 12px;
  position: relative;
}

.sugoroku-cell .number {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.arrow {
  position: absolute;
  width: 0; 
  height: 0; 
  border-style: solid;
}

.arrow-right {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  border-color: transparent transparent transparent #746b6b;
}

.arrow-down {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 15px 7.5px 0 7.5px;
  border-color: #746b6b transparent transparent transparent;
}

.arrow-left {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 7.5px 15px 7.5px 0;
  border-color: transparent #746b6b transparent transparent;
}

.arrow-up {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 7.5px 15px 7.5px;
  border-color: transparent transparent #746b6b transparent;
}

/* Avatar.css */
.avatar {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
/* TreasureBox.css */
.treasure {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
}
