.trivia-header {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.trivia-header h3 {
    margin: 0;
    font-size: 30px;
}

.balloon-008 {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 300px;
    margin-left: 15px;
    padding: .8em 1.2em;
    border: 3px solid #2589d0;
    border-radius: 5px;
    background-color: #fff;
    color: #333333;
}

.balloon-008::before,
.balloon-008::after {
    position: absolute;
    left: -15px;
    width: 15px;
    height: 30px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

.balloon-008::before {
    background-color: #2589d0;
}

.balloon-008::after {
    left: -11px;
    background-color: #fff;
}

.trivia-content {
    display: flex;
    align-items: center; /* 縦の位置を中央に揃える */
    gap: 10px; /* アバターと吹き出しの間の余白 */
}